@import "tailwindcss";

* {
  box-sizing: border-box;
  font-family: "Arial", sans-serif;

}
:root {
  --secondary-text-color: #43aa8b;
  --secondary-color: #6b7280;
  --background-color: #f9fafb;
  --text-color: #111827;
  --imperial-red: #f94144ff;
  --orange-crayola: #f3722cff;
  --carrot-orange: #f8961eff;
  --coral: #f9844aff;
  --saffron: #f9c74fff;
  --pistachio: #90be6dff;
  --zomp: #43aa8bff;
  --dark-cyan: #4d908eff;
  --paynes-gray: #577590ff;
  --cerulean: #277da1ff;
}
